:root {
    --red: #d25a5a;
    --blue: #72c5d3;
    --brightBlue: #62d8e0;
}

/* Base HTML styling */
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: rgb(56, 55, 55);
    scroll-behavior: smooth;
}

p,
ul {
    line-height: 1.8;
    letter-spacing: 0.02em;
    font-weight: 400;
}

body {
    background-image: url("../images/topography.svg");
    background-color: grey;
    background-size: 600px, auto;
    min-height: calc(100vh - 100px);
    margin: 0;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4 {
    font-size: 2.5rem;
    margin: 10px 0;
    text-align: center;
}

/* Main layout */
.container {
    display: grid;
    /* grid-template-columns: 1fr 1.5fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "hr1 hr1 hr1"
        "image1 about about"
        "hr2 hr2 hr2"
        "training training image2"
        "hr3 hr3 hr3"
        "image3 climbs climbs"
        "hr4 hr4 hr4"
        "footer footer footer";
    max-width: 1000px;
    /* height: 100%; */
    margin: 0 auto;
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

nav {
    grid-area: nav;

}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 5px 0 0 0;
    background: whitesmoke;
    margin-bottom: 0;
    list-style: none;
}


.header {
    grid-area: header;
    justify-items: center;
    padding-top: 10px;
}

.about {
    grid-area: about;
}

.text-left-offset {
    text-align: left;
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.text-right-offset {
    text-align: right;
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.info-right {
    text-align: left;
    margin-left: 50px;
    padding: 15px;
    padding-right: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.info-left {
    text-align: left;
    padding: 15px;
    margin: 0 50px 0 15px;
}


.hr {
    background: whitesmoke;
    padding: 8px 0;
}

.hr1 {
    grid-area: hr1;
}

.hr2 {
    grid-area: hr2;
}

.hr3 {
    grid-area: hr3;
}

.hr4 {
    grid-area: hr4;
}

.training {
    grid-area: training;
}

.climbs {
    grid-area: climbs;
}

.image1 {
    grid-area: image1;

}

.image2 {
    grid-area: image2;

}

.image3 {
    grid-area: image3;

}

.footer {
    grid-area: footer;
    display: flex;
    background: whitesmoke;
}

hr.red-line {
    margin: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(210, 90, 90, 0), rgba(210, 90, 90, 0.75), rgba(210, 90, 90, 0));
}

a {
    color: rgb(56, 55, 55);
    text-decoration: none;
    background-color: none;
    padding: 5px 0;
}

a.climb-list:hover {
    color: var(--red);
    text-decoration: none;
    transition: 0.2s;
}

.climb-list {
    list-style: none;
    text-align: left;
    padding-left: 40%;
    margin-top: 0;
}


/* Color Slide effects borrowed from https://css-tricks.com/having-fun-with-link-hover-effects/ */
a.slide {
    cursor: text;
    background:
        linear-gradient(to bottom, var(--blue) 0%,
            var(--blue) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: rgb(56, 55, 55);
    text-decoration: none;
    transition: background-size .2s;
}

a.slide:hover {
    background-size: 4px 50px;
}

span.slide {
    cursor: pointer;
    background:
        linear-gradient(to bottom, var(--red) 0%,
            var(--red) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: rgb(56, 55, 55);
    text-decoration: none;
    transition: background-size .5s;
}

span.slide:hover {
    background-size: 4px 50px;
}

a.para {
    text-decoration: none;
    color: rgb(56, 55, 55);
    border-bottom: 4px solid var(--blue);
    padding-bottom: 0;
}


/* Main image styling */
img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    /* max-width: 100%;
    height: auto; */
    /* need to set a min height and max height for the grid response later */
}

/* Nav experiment */
/* li {
    display: inline-block;
    padding: 0 20px;
} */
/* cool strikeout animation borrowed from https://codepen.io/tsimenis/pen/BKdENX */
/* span {
    position: relative;
    display: block;
    cursor: pointer;
}

span:before,
span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    top: 50%;
    margin-top: -0.5px;
    background: #d25a58ab;
}

span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: #d25a58ab;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
    background: #d25a58ab;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
} */

/* ul .copyright {
    margin-left: 25%
}

.footerUl {
    list-style: none;
} */

.contacts {
    list-style: none;
    font-size: .8em;
}

.faContacts {
    display: flex;
    flex-direction: column;
}

/* .icons {
    color: rgb(56, 55, 55);
    font-size: 1em;
    padding: 2px;
} */

i.fab {
    color: rgb(56, 55, 55);
    font-size: 1.5em;
    padding: 4px;
}